@keyframes rotating {
  0%,100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  0%,100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
}
.movement {
    width:128px;
    height:148px;
     animation-timing-function:ease-in-out;
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}
.coffee{
    position: absolute;
    left: 1219px;
    top: 711px;
    width: 60px;
    height: 60px;
}
.cake{
    position: absolute;
    left: 1510px;
    top: 159px;
    width: 60px;
    height: 60px;
}
.ham{
    position: absolute;
    left: 530px;
    top: 174px;
    width: 60px;
    height: 60px;
}
